
<h1 align=center style="line-height:300%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
سری دوم تمارین عملی درس داده کاوی
</font>
</h1>
<h3 align=center style="line-height:100%;font-family:vazir;color:#0099cc">
استاد درس: دکتر مریم امیر مزلقانی
</h3>
<h5 align=center style="font-size: 20px;line-height:100%;font-family:vazir;color:#0099cc">
طراح تمرین عملی: محمد چوپان  
    </h5>
<p align=center style="font-size: 16;line-height:100%;font-family:vazir;color:#0099cc">
    <a href="mailto:Aut.DataMining.Fall@gmail.com">Aut.DataMining.Fall@gmail.com</a>
</p>

<div dir="ltr">
<p style="font-size: 16;line-height:100%;font-family:vazir;color:red;dir:rtl">
لطفا خواسته های تمرین را در بخش خودش انجام دهید.
دقت کنید نتایج مقایسه ها حتما باید در پاسخ شما وجود داشته باشد.
</p>
</div>

# HW2

## Imports

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error

## Load data

<div dir="rtl">

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در این مرحله همانند تمرین قبلی داده ها را درون یک دیتا فریم pandas ذخیره میکنید
</font>
</p>
</div>

In [2]:
data = pd.read_excel('worldcities.xlsx')
data

,ville,ville_ascii,lat,lng,pays,iso2,iso3,admin_nom,capital,population,id
0,A Coruña,A Coruna,43.3667,-8.3833,Spain,ES,ESP,Galicia,minor,245468.0,1.724417e+09
1,A Yun Pa,A Yun Pa,13.3939,108.4408,Vietnam,VN,VNM,Gia Lai,minor,53720.0,1.704946e+09
2,Aabenraa,Aabenraa,55.0444,9.4181,Denmark,DK,DNK,Syddanmark,minor,16401.0,1.208000e+09
3,Aachen,Aachen,50.7756,6.0836,Germany,DE,DEU,North Rhine-Westphalia,minor,249070.0,1.276806e+09
4,Aadorf,Aadorf,47.4939,8.8975,Switzerland,CH,CHE,Thurgau,NaN,9036.0,1.756023e+09
...,...,...,...,...,...,...,...,...,...,...,...
44662,Żychlin,Zychlin,52.2453,19.6236,Poland,PL,POL,Łódzkie,NaN,9021.0,1.616509e+09
44663,Żyrardów,Zyrardow,52.0500,20.4333,Poland,PL,POL,Mazowieckie,minor,39374.0,1.616146e+09
44664,Zyryanka,Zyryanka,65.7360,150.8900,Russia,RU,RUS,Sakha (Yakutiya),NaN,3627.0,1.643202e+09
44665,Zyryanovsk,Zyryanovsk,49.7453,84.2548,Kazakhstan,KZ,KAZ,NaN,minor,49658.0,1.398361e+09
44666,Żywiec,Zywiec,49.6892,19.2058,Poland,PL,POL,Śląskie,minor,30334.0,1.616870e+09

 ## Add column

<div dir="rtl">

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
در این مرحله با توجه به ستون جمعیت یک ستون جدید تحت عنوان Population Level   اضافه کنید به طوری که به 4 دسته زیر  بر اساس وضعیت هر داده اختصاص داده می شودند.
</br>
    <div dir="ltr">
Low: 0-25%
    </br>
Mid: 25-50%
    </br>
High: 50-70%
    </br>
Over: 70-100%
    </div>
</font>
</p>
</div>

In [3]:
quantiles = data['population'].quantile([0, 0.25, 0.5, 0.7, 1])
bins = [quantiles.iloc[0], quantiles.iloc[1], quantiles.iloc[2], quantiles.iloc[3], quantiles.iloc[4]]
labels = ['Low', 'Mid', 'High', 'Over']
data['Population Level'] = pd.cut(data['population'], bins=bins, labels=labels, include_lowest=True)

data

,ville,ville_ascii,lat,lng,pays,iso2,iso3,admin_nom,capital,population,id,Population Level
0,A Coruña,A Coruna,43.3667,-8.3833,Spain,ES,ESP,Galicia,minor,245468.0,1.724417e+09,Over
1,A Yun Pa,A Yun Pa,13.3939,108.4408,Vietnam,VN,VNM,Gia Lai,minor,53720.0,1.704946e+09,Over
2,Aabenraa,Aabenraa,55.0444,9.4181,Denmark,DK,DNK,Syddanmark,minor,16401.0,1.208000e+09,Mid
3,Aachen,Aachen,50.7756,6.0836,Germany,DE,DEU,North Rhine-Westphalia,minor,249070.0,1.276806e+09,Over
4,Aadorf,Aadorf,47.4939,8.8975,Switzerland,CH,CHE,Thurgau,NaN,9036.0,1.756023e+09,Low
...,...,...,...,...,...,...,...,...,...,...,...,...
44662,Żychlin,Zychlin,52.2453,19.6236,Poland,PL,POL,Łódzkie,NaN,9021.0,1.616509e+09,Low
44663,Żyrardów,Zyrardow,52.0500,20.4333,Poland,PL,POL,Mazowieckie,minor,39374.0,1.616146e+09,Over
44664,Zyryanka,Zyryanka,65.7360,150.8900,Russia,RU,RUS,Sakha (Yakutiya),NaN,3627.0,1.643202e+09,Low
44665,Zyryanovsk,Zyryanovsk,49.7453,84.2548,Kazakhstan,KZ,KAZ,NaN,minor,49658.0,1.398361e+09,Over
44666,Żywiec,Zywiec,49.6892,19.2058,Poland,PL,POL,Śląskie,minor,30334.0,1.616870e+09,High

## Preproccess

<div dir="rtl">

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    در این بخش باید ستون های خالی داده ها راحذف کرده و در نهایت تمامی ستون ها را به داده های عددی تبدیل کنید به جز ستون اضافه شده
</font>
</p>
</div>

In [6]:
data = data.dropna()
label_encoder = LabelEncoder()

categorical_columns = ['ville', 'ville_ascii', 'pays', 'iso2', 'iso3', 'admin_nom', 'capital']

for col in categorical_columns:
    data[col] = label_encoder.fit_transform(data[col])
data

,ville,ville_ascii,lat,lng,pays,iso2,iso3,admin_nom,capital,population,id,Population Level
0,0,0,0.782664,0.472727,163,54,54,936,1,0.006506,0.802269,Over
1,1,1,0.544021,0.801105,193,189,189,966,1,0.001424,0.780585,Over
2,2,2,0.875642,0.522764,47,46,48,2866,1,0.000435,0.227175,Mid
3,3,3,0.841653,0.513391,66,44,45,2109,1,0.006601,0.303799,Over
5,4,4,0.891610,0.524166,47,46,48,2096,0,0.003806,0.228054,Over
...,...,...,...,...,...,...,...,...,...,...,...,...
44656,10097,10357,0.841185,0.531427,66,44,45,2665,1,0.002373,0.303663,Over
44658,10098,10358,0.849943,0.509362,121,130,129,3343,1,0.001187,0.584118,Over
44660,10099,10359,0.855516,0.513438,121,130,129,2233,0,0.003441,0.584303,Over
44663,10353,10360,0.851800,0.553727,137,141,140,1850,1,0.001044,0.681695,Over
44666,10354,10361,0.833004,0.550276,137,141,140,3396,1,0.000804,0.682502,High

<div dir="rtl">

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
 حال باید داده های به دست آمده از قسمت قبلی را نرمال سازی کنید.
</font>
</p>
</div>

In [7]:
columns_to_normalize = [col for col in data.columns if col != 'Population Level']

scaler = MinMaxScaler()
data[columns_to_normalize] = scaler.fit_transform(data[columns_to_normalize])

data

,ville,ville_ascii,lat,lng,pays,iso2,iso3,admin_nom,capital,population,id,Population Level
0,0.000000,0.000000,0.782664,0.472727,0.831633,0.275510,0.275510,0.270677,0.5,0.006506,0.802269,Over
1,0.000096,0.000097,0.544021,0.801105,0.984694,0.964286,0.964286,0.279352,0.5,0.001424,0.780585,Over
2,0.000193,0.000193,0.875642,0.522764,0.239796,0.234694,0.244898,0.828803,0.5,0.000435,0.227175,Mid
3,0.000289,0.000290,0.841653,0.513391,0.336735,0.224490,0.229592,0.609890,0.5,0.006601,0.303799,Over
5,0.000386,0.000386,0.891610,0.524166,0.239796,0.234694,0.244898,0.606131,0.0,0.003806,0.228054,Over
...,...,...,...,...,...,...,...,...,...,...,...,...
44656,0.973205,0.999614,0.841185,0.531427,0.336735,0.224490,0.229592,0.770677,0.5,0.002373,0.303663,Over
44658,0.973301,0.999710,0.849943,0.509362,0.617347,0.663265,0.658163,0.966744,0.5,0.001187,0.584118,Over
44660,0.973398,0.999807,0.855516,0.513438,0.617347,0.663265,0.658163,0.645749,0.0,0.003441,0.584303,Over
44663,0.997880,0.999903,0.851800,0.553727,0.698980,0.719388,0.714286,0.534991,0.5,0.001044,0.681695,Over
44666,0.997976,1.000000,0.833004,0.550276,0.698980,0.719388,0.714286,0.982071,0.5,0.000804,0.682502,High

## Split

<div dir="rtl">

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
داده ها را به دو بخش تست و آموزش با نسبت 80 به 20 تقسیم کنید.
</font>
</p>
</div>

In [8]:
target = data["population"]
features = data.drop(["population", "Population Level"], axis=1)  
x_train, x_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=50)

## Regression

<div dir="rtl">

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
برای این قسمت باید ستون Population  را به عنوان برچسب درنظر گرفته و از بقیه ستون هابه عنوان فیچر استفاده کنید
</font
</p>
</div>

<div dir="rtl">
<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
باید از رگرسیون خطی
،درجه 1 و درجه 2 استفاده کرده و در هر مورد دقت و خطای میانگین مربعات را بدست آورده و نتایج را باهم مقایسه کنید.</font
</p>
    
</div>

In [9]:
linear_reg = LinearRegression()
linear_reg.fit(x_train, y_train)

poly_reg_1 = PolynomialFeatures(degree=1)
x_train_poly_1 = poly_reg_1.fit_transform(x_train)
x_test_poly_1 = poly_reg_1.transform(x_test)

linear_reg_poly_1 = LinearRegression()
linear_reg_poly_1.fit(x_train_poly_1, y_train)

poly_reg_2 = PolynomialFeatures(degree=2)
x_train_poly_2 = poly_reg_2.fit_transform(x_train)
x_test_poly_2 = poly_reg_2.transform(x_test)

linear_reg_poly_2 = LinearRegression()
linear_reg_poly_2.fit(x_train_poly_2, y_train)

y_pred_linear = linear_reg.predict(x_test)

y_pred_poly_1 = linear_reg_poly_1.predict(x_test_poly_1)

y_pred_poly_2 = linear_reg_poly_2.predict(x_test_poly_2)

mse_linear = mean_squared_error(y_test, y_pred_linear)

mse_poly_1 = mean_squared_error(y_test, y_pred_poly_1)

mse_poly_2 = mean_squared_error(y_test, y_pred_poly_2)

print(f"Linear Regression MSE: {mse_linear}")
print(f"Polynomial Regression (degree=1) MSE: {mse_poly_1}")
print(f"Polynomial Regression (degree=2) MSE: {mse_poly_2}")

Linear Regression MSE: 0.001344007721865746
Polynomial Regression (degree=1) MSE: 0.0013440077218657477
Polynomial Regression (degree=2) MSE: 0.001192841504291306

## Classification

<div dir="rtl">

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
برای این قسمت باید ستون Population Level  را به عنوان برچسب درنظر گرفته و از بقیه ستون هابه عنوان فیچر استفاده کنید
همچنین ستون Population را نیز حذف کنید
    </font>
</p>
</div>

<div dir="rtl">
<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
در هر فسمت باید الگوریتم مشخص شده را پیاده سازی کرده و درنهایت نتیجه را با بقیه قسمت ها مقایسه کنید.
    
</p>
    
</div>

### Decision Tree (Entropy)

In [10]:
features = data.drop(["population", "Population Level"], axis=1)
target = data["Population Level"]

x_train, x_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=47)

dt_classifier = DecisionTreeClassifier(criterion='entropy', max_depth=5, min_samples_leaf=5, random_state=42)

dt_classifier.fit(x_train, y_train)

y_pred_train = dt_classifier.predict(x_train)
y_pred_test = dt_classifier.predict(x_test)

accuracy_train = accuracy_score(y_train, y_pred_train)
accuracy_test = accuracy_score(y_test, y_pred_test)

print(f"Accuracy of Decision Tree Classifier on Train Set (Entropy): {accuracy_train}")
print(f"Accuracy of Decision Tree Classifier on Test Set (Entropy): {accuracy_test}")

Accuracy of Decision Tree Classifier on Train Set (Entropy): 0.5239813736903376
Accuracy of Decision Tree Classifier on Test Set (Entropy): 0.505586592178771

### Random Forest (Entropy)

In [11]:
rf_classifier = RandomForestClassifier(n_estimators=1000, max_leaf_nodes=400, n_jobs=-1, criterion='entropy')

rf_classifier.fit(x_train, y_train)

y_pred_train = rf_classifier.predict(x_train)
y_pred_test = rf_classifier.predict(x_test)

accuracy_train = accuracy_score(y_train, y_pred_train)
accuracy_test = accuracy_score(y_test, y_pred_test)

print(f"Accuracy of Random Forest Classifier on Train Set (Entropy): {accuracy_train}")
print(f"Accuracy of Random Forest Classifier on Test Set (Entropy): {accuracy_test}")

Accuracy of Random Forest Classifier on Train Set (Entropy): 0.7625145518044237
Accuracy of Random Forest Classifier on Test Set (Entropy): 0.5367783985102421

### KNN K=2

In [12]:
knn_classifier = KNeighborsClassifier(n_neighbors=2)

knn_classifier.fit(x_train, y_train)

y_pred_train = knn_classifier.predict(x_train)
y_pred_test = knn_classifier.predict(x_test)

accuracy_train = accuracy_score(y_train, y_pred_train)
accuracy_test = accuracy_score(y_test, y_pred_test)

print(f"Accuracy of KNN Classifier (K=2) on Train Set: {accuracy_train}")
print(f"Accuracy of KNN Classifier (K=2) on Test Set: {accuracy_test}")

Accuracy of KNN Classifier (K=2) on Train Set: 0.7327124563445867
Accuracy of KNN Classifier (K=2) on Test Set: 0.42225325884543763

### KNN K=3

In [13]:
knn_classifier = KNeighborsClassifier(n_neighbors=3)

knn_classifier.fit(x_train, y_train)

y_pred_train = knn_classifier.predict(x_train)
y_pred_test = knn_classifier.predict(x_test)

accuracy_train = accuracy_score(y_train, y_pred_train)
accuracy_test = accuracy_score(y_test, y_pred_test)

print(f"Accuracy of KNN Classifier (K=3) on Train Set: {accuracy_train}")
print(f"Accuracy of KNN Classifier (K=3) on Test Set: {accuracy_test}")

Accuracy of KNN Classifier (K=3) on Train Set: 0.7018626309662398
Accuracy of KNN Classifier (K=3) on Test Set: 0.46368715083798884

### KNN K=5

In [14]:
knn_classifier = KNeighborsClassifier(n_neighbors=5)

knn_classifier.fit(x_train, y_train)

y_pred_train = knn_classifier.predict(x_train)
y_pred_test = knn_classifier.predict(x_test)

accuracy_train = accuracy_score(y_train, y_pred_train)
accuracy_test = accuracy_score(y_test, y_pred_test)

print(f"Accuracy of KNN Classifier (K=5) on Train Set: {accuracy_train}")
print(f"Accuracy of KNN Classifier (K=5) on Test Set: {accuracy_test}")

Accuracy of KNN Classifier (K=5) on Train Set: 0.6437718277066357
Accuracy of KNN Classifier (K=5) on Test Set: 0.4762569832402235

### SVM (Linear)

In [15]:
svm_classifier = SVC(kernel='linear')

svm_classifier.fit(x_train, y_train)

y_pred_train = svm_classifier.predict(x_train)
y_pred_test = svm_classifier.predict(x_test)

accuracy_train = accuracy_score(y_train, y_pred_train)
accuracy_test = accuracy_score(y_test, y_pred_test)

print(f"Accuracy of SVM Classifier (Linear Kernel) on Train Set: {accuracy_train}")
print(f"Accuracy of SVM Classifier (Linear Kernel) on Test Set: {accuracy_test}")

Accuracy of SVM Classifier (Linear Kernel) on Train Set: 0.48370197904540163
Accuracy of SVM Classifier (Linear Kernel) on Test Set: 0.473463687150838

### SVM (Non-linear)

In [16]:
svm_classifier = SVC(kernel='rbf')
svm_classifier.fit(x_train, y_train)

y_pred_train = svm_classifier.predict(x_train)
y_pred_test = svm_classifier.predict(x_test)

accuracy_train = accuracy_score(y_train, y_pred_train)
accuracy_test = accuracy_score(y_test, y_pred_test)

print(f"Accuracy of SVM Classifier (RBF Kernel) on Train Set: {accuracy_train}")
print(f"Accuracy of SVM Classifier (RBF Kernel) on Test Set: {accuracy_test}")

Accuracy of SVM Classifier (RBF Kernel) on Train Set: 0.49627473806752037
Accuracy of SVM Classifier (RBF Kernel) on Test Set: 0.4776536312849162